{#
/**
 * @file
 * Theme override for a views mini-pager.
 *
 * Available variables:
 * - heading_id: Pagination heading ID.
 * - items: List of pager items.
 *
 * @see template_preprocess_views_mini_pager()
 */
 #}
 {% if items.previous or items.next %}
  <div class="row justify-content-center mt-5 mb-5 pagination">
    <nav aria-label="Page navigation">
      <ul class="pagination">
        {% if items.previous %}
          <li class="page-item">
            <a href="{{ items.previous.href }}" title="{{ 'Précédent'|t }}" rel="prev"{{ items.previous.attributes|without('href', 'title', 'rel') }} class="page-link">
              {{ 'Précédent'|t }}
            </a>
          </li>
        {% endif %}
        {% if items.current %}
          <li class="page-item">
            {% trans %}
              <a class="page-link" href="#">{{ items.current }}</a>
            {% endtrans %}
          </li>
        {% endif %}
        {% if items.next %}
          <li class="page-item">
            <a href="{{ items.next.href }}" title="{{ 'Suivant'|t }}" rel="next"{{ items.next.attributes|without('href', 'title', 'rel') }} class="page-link">
              {{ 'Suivant'|t }}
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </div>
{% endif %}
